.deck-container li {
  font-size: 30px;
}

.deck-container p {
  font-size: 30px;
}

.deck-container p.center-both {
  text-align: center;
  vertical-align: center;
}

.deck-container p.bottom {
  vertical-align: bottom;
}

.deck-container code {
  font-size: 30px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}

#menu-css li {  
    display: inline;  
    list-style: none;  
}  
  
#menu-css li a {  
  
    /* Border Radius */  
    -webkit-border-radius: 15px;  
    -moz-border-radius: 15px;  
    border-radius: 15px;  
  
    /* Border Shadow */  
    -webkit-box-shadow: 1px 2px 2px #CCC;  
    -moz-box-shadow: 1px 2px 2px #CCC;  
    box-shadow: 1px 2px 2px #CCC;  
  
    /* Animation (Webkit, Gecko & Mozilla) */  
    -webkit-transition-duration: 0.20s;  
    -webkit-transition-timing-function: ease-out;  
    -moz-transition-duration: 0.20s;  
    -moz-transition-timing-function: ease-out;  
  
    font-size: 15px;
    float: right;
    margin: 5px;
    color: #CEF;  
    background: #333;  
    display: inline-block;  
    padding: 5px 15px;  
    outline: none;  
    text-decoration: none;  
}  
  
#menu-css li a:hover {  
    background: #555;  
    padding: 5px 25px;  
}  
  
#menu-css li a:active {  
    background: rgba(0,0,0,0.1);  
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);  
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4);  
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4);  
} 
